target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
LOG_PATH_IS_UNDEFINED/
.idea/*
eureka-client/src/main/resources/static/
eureka-client/src/main/resources/templates/
eureka-server/src/main/resources/static/
eureka-server/src/main/resources/templates/
ribbon-consumer/src/main/resources/static/
ribbon-consumer/src/main/resources/templates/
/.idea/compiler.xml
!/.idea/compiler.xml
/.idea/modules.xml
/.idea/
/.idea/artifacts/
